<?xml version="1.0" ?>
<web-app>




<servlet>
  <servlet-name>newclientreg</servlet-name>
  <servlet-class>newclientreg</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>newclientreg</servlet-name>
<url-pattern>/newclientreg</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>newclientreg1</servlet-name>
  <servlet-class>newclientreg1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>newclientreg1</servlet-name>
<url-pattern>/newclientreg1</url-pattern>
</servlet-mapping>



<servlet>
  <servlet-name>exlogin</servlet-name>
  <servlet-class>newclientlogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>exlogin</servlet-name>
<url-pattern>/newclientlogin</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>exconloginchech</servlet-name>
  <servlet-class>exconsullogin55</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>exconloginchech</servlet-name>
<url-pattern>/exconsultlogin77</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>newjobset1</servlet-name>
  <servlet-class>newjobreg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>newjobset1</servlet-name>
<url-pattern>/newjobset</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>updateclientdetail</servlet-name>
  <servlet-class>updateexclient</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updateclientdetail</servlet-name>
<url-pattern>/exclientmodi77</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>deleteclientdetails</servlet-name>
  <servlet-class>deleteclient</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>deleteclientdetails</servlet-name>
<url-pattern>/deleteclient88</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>r</servlet-name>
  <servlet-class>newuserresume</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>r</servlet-name>
<url-pattern>/resume</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>admin</servlet-name>
  <servlet-class>Adminlogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>admin</servlet-name>
<url-pattern>/alogin</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>/frameall.htm</welcome-file>
</welcome-file-list>
</web-app>