<?xml version="1.0" ?>
<web-app>

<servlet>
  <servlet-name>jobseek</servlet-name>
  <servlet-class>jobseeklogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>jobseek</servlet-name>
<url-pattern>/jobseeklogin1</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>newuserperdetail</servlet-name>
  <servlet-class>newuserpersonal</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>newuserperdetail</servlet-name>
<url-pattern>/newusepersonaldetails</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>newuserskill</servlet-name>
  <servlet-class>newuserskill</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>newuserskill</servlet-name>
<url-pattern>/newempskills</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>newuserproj1</servlet-name>
  <servlet-class>newuserproj</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>newuserproj1</servlet-name>
<url-pattern>/newempprojxm</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>newuserexp</servlet-name>
  <servlet-class>newuserexp</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>newuserexp</servlet-name>
<url-pattern>/newuserexp</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>newuserresume</servlet-name>
  <servlet-class>newuserresume</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>newuserresume</servlet-name>
<url-pattern>/newuserresume</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>r</servlet-name>
  <servlet-class>newuserresume</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>r</servlet-name>
<url-pattern>/resume</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>admin</servlet-name>
  <servlet-class>Adminlogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>admin</servlet-name>
<url-pattern>/alogin</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>/frameall.htm</welcome-file>
</welcome-file-list>
</web-app>